{% extends 'main/base.html' %}

{% block title %}{{ object.title }} - Project{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<h1>{{post.title}}</h1>
<!--style="display:none;"-->
<div id="json_data">{{post.input_box}}
</div>

<style>
    div.canvas-outline {
        position: absolute;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 600px;

    }

    div.canvas-main {
        overflow: visible;
        position: relative;
        height: {{post.img_view.height}};
        margin: 0 auto;
        background-image: url('{{post.img_view.url}}');
        width: {{post.img_view.width}}px;
        height: {{post.img_view.height}}px;
        box-shadow: 2px 2px 10px rgba(0,0,0,1), 0 0 0 1px #ddd;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    div.object {
        width: {{post.img_view.width}}px;
        height: 500px;
    }

    div.resizer {
        position: relative;
        margin: 0 auto;
    }
    div.post {
        float:left;
        width:150px;
        height:150px;
        padding:10px 0px 0px 20px;
        background-color:#f9d716;
        border:1px solid black;
        box-shadow:2px 2px 2px;
    }

</style>
<script src=" {% static 'main/_assets/js/jquery.min.js' %}"></script>
<script src=" {% static 'main/_assets/js/jquery-ui.js' %}"></script>

<div class="container" data-spy="scroll" data-offset="0">

<div class="row">

    <!--<canvas id="canvas-result" width={{post.img_view.width}}px height={{post.img_view.height}}px ></canvas>-->

<div class="col-lg-9">
<div id = "editor">
<div class="canvas-outline">
<div calss="canvas_resizer">
<div class="canvas-main" data-canvas="true" data-show-grid="false" data-show-memo="true" id="canvas-main">


</div>
</div>
</div>
</div>
</div>



<div class="col-lg-3">
    <form method="post">
    {% csrf_token %}

    <button name = "save" id="save"> Save </button>
    <input type="button" id="test" value="TEST"/>

    </form>

    <ul class = "js-bubbleList"></ul>
</div>

</div>
</div>

<script src = "{% static 'main/js/test.js' %}"></script>

<script>
console.log("jsonparse test")
console.log(JSON.parse(document.getElementById("json_data").innerText));

$('#save').click(function(){

    $.ajax({
		url : '{% url 'edit' post.pk %}',
		type : 'POST',
		dataType : 'json',
		data : {
		    'input_box' : document.getElementById("json_data").innerText,
		    'csrfmiddlewaretoken': '{{ csrf_token }}'
		},

    });
});
</script>


{% endblock %}
