{% extends 'main/base2.html' %}

{% block title %}{{ object.title }} - Project{% endblock %}

{% load static %}

{% block content %}
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Handlee&family=Metal+Mania&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/_assets/css/jquery-ui.css' %}">
<link rel="stylesheet" href="/resources/demos/style.css">

<h1>{{post.title}}</h1>
<!--style="display:none;"-->
<div id="json_data" style="display:none;">{{post.input_box}}
</div>

<style>
<!--    div.dropdown {-->
<!--    padding: 10px;-->
<!--    border-bottom: 1px solid #b7bdbf;-->
<!--    }-->

    li.box {
    position: relative;
    padding: 27px 0 43px;
    border-bottom: 1px solid #b7bdbf;
    }

    div.space {
    height : 50px;
    }

    div.canvas-outline {
        position: absolute;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 643px;

    }
    ul.js-bubbleList {
        position: relative;
        height: 643px;
        overflow: auto;
    }

    div.canvas-main {
        overflow: visible;
        position: relative;
        height: {{post.img_view.height}};
        margin: 0 auto;
        background-image: url('{{post.img_view.url}}');
        width: {{post.img_view.width}}px;
        height: {{post.img_view.height}}px;
        box-shadow: 2px 2px 10px rgba(0,0,0,1), 0 0 0 1px #ddd;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    div.object {
        width: {{post.img_view.width}}px;
        height: 500px;
    }

    div.resizer {
        position: relative;
        margin: 0 auto;
    }
    div.post {
        float:left;
        width:150px;
        height:150px;
        padding:10px 0px 0px 20px;
        background-color:#f9d716;
        border:1px solid black;
        box-shadow:2px 2px 2px;
    }

    a.MetalMania{
        font-family: 'Metal Mania', cursive;
        position: relative;
        color: black;
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    a.ArchitectsDaughter{
    font-family: 'Architects Daughter', cursive;
    position: relative;
    color: black;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    }

    a.OpenSans{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: black;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    }

    div.form-control{
    width: 300px;
    }

  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; }
  #selectable li {font-size: 1.4em;}

</style>

<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Font
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="MetalMania" href="javascript:">MetalMania</a>
    <a class="ArchitectsDaughter" href="javascript:">Architects Daughter</a>
    <a class="OpenSans" href="javascript:">OpenSans</a>
  </div>
    <a href="javascript:" class="btn btn-outline-secondary" id="font-plus">+</a>
    <a href="javascript:" class="btn btn-outline-secondary" id="font-minus">-</a>
    <button name = "save" class="btn btn-outline-danger" id="save"> Save </button>
</div>

<div class = "space"></div>

<div class="result"></div>


<div class="container" data-spy="scroll" data-offset="0">

<div class="row">

    <!--<canvas id="canvas-result" width={{post.img_view.width}}px height={{post.img_view.height}}px ></canvas>-->

<div class="col-lg-9">
<div id = "editor">
<div class="canvas-outline">
<div calss="canvas_resizer">
<div id="selectable" class="canvas-main" data-canvas="true" data-show-grid="false" data-show-memo="true">


</div>
</div>
</div>
</div>
</div>


<div class="col-lg-3">

    <ul class = "js-bubbleList"></ul>
</div>

</div>
</div>

<!--<script src = "{% static 'main/js/test.js' %}"></script>-->


<script>
$(document).ready(function(){
    $("#selectable").selectable();
});
</script>

<script>
$('#save').click(function(){
    $.ajax({
		url : '{% url 'edit' post.pk %}',
		type : 'POST',
		dataType : 'json',
		data : {
		    'csrfmiddlewaretoken': '{{ csrf_token }}',
		    'input_box' : document.getElementById("json_data").innerText,
		},

    });
});

$(document).ready(function(){
    $("#selectable").selectable();
});
</script>


<script>
var ctx2;
var canvasMain = document.getElementById("selectable");
var objectList = document.getElementById("object-list");

var form = document.getElementById("json_data").textContent;
var jsonForm = JSON.parse(form)

console.log("--------------JSON.parse(obj) result in EditBox ----------");
console.log(jsonForm);

var bubbleList = document.querySelector(".js-bubbleList");
var BUBBLES_LS = "bubbles";

//json 내 제거하고자 하는 말풍선 데이터 삭제
function deleteJson(id){
    delete jsonForm[id];
    console.log(jsonForm);
    document.getElementById("json_data").innerText = JSON.stringify(jsonForm);
    if (document.getElementById("json_data").innerText == '[null]'){

        console.log(document.getElementById("json_data").innerText);
        document.getElementById("json_data").innerText = null;

    }

}

//화면 오른쪽에서 해당 리스트 삭제
function deleteBox(id){
    var name2 = 'div ' + id;
    var child = document.getElementById(name2);
    child.remove();
    }

//delete버튼을 누를 때 얻은 event로 target을 찾아 제거
function deleteBubble(event){
    var btn = event.target;
    var li = btn.parentNode;
    bubbleList.removeChild(li);
    deleteBox(li.id);
    deleteJson(li.id);
}

function inputBubble(event){

    const btn = event.target;
    const li = btn.parentNode;
    console.log(li);
    console.log(li.children[3].innerText);
    console.log('{{ post.img_view.name }}');
    console.log('{{ post.img_view }}'.slice(0,-4));

    var sentense = li.children[3].innerText;

    console.log("http://127.0.0.1:8000/media/" + '{{ post.img_view }}'.slice(0,-4) + '_{{post.pk}}' + sentense[0] + ".png");


    $.ajax({
        url : '{% url 'edit' post.pk %}',
        type : 'POST',
        dataType : 'json',
        data : {
            'txt' : li.children[3].innerText,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
<!--        ,error:function(request,status,error){-->
<!--        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}-->

    });

    setTimeout(function(){
      for (var i = 0; i < sentense.length ; i++) {

      var div_img = document.createElement('img');
      div_img.id = 'div_img_' + i;
      div_img.src = "http://127.0.0.1:8000/media/" + '{{ post.img_view }}'.slice(0,-4) + '_{{post.pk}}' + sentense[i] + ".png";

      var xx = jsonForm[li.id].x + (i * 35);
      var yy = jsonForm[li.id].y;

      div_img.style.left = xx +"px";
      div_img.style.top = yy +"px";

      div_img.style.width = "64px";
      div_img.style.height = "64px";
      div_img.style.overflow = "hidden";
      div_img.style.position = "absolute";
      canvasMain.appendChild(div_img);
      }
    }, 500);



}

//화면 오른쪽에 원본 txt와 번역 txt를 나열해주고 잘못된 말풍선을 지울 수 있도록 설정
function showBubbleList(){
    for(key in jsonForm){
    var li = document.createElement("li");
    li.id = key;
    li.classList.add('box');

    var div_kor = document.createElement('div');
    div_kor.classList.add('form-group');
    div_kor.value = jsonForm[key].txt;
    div_kor.innerText = jsonForm[key].txt;
    div_kor.setAttribute("contenteditable", "false");
    li.appendChild(div_kor);

    var delete_button = document.createElement('button');
    delete_button.classList.add('delbutton');
    delete_button.classList.add('btn');
    delete_button.classList.add('btn-outline-secondary');
    delete_button.innerText = "Del";
    delete_button.addEventListener("click", deleteBubble);
    li.appendChild(delete_button);

    var input_button = document.createElement('button');
    input_button.classList.add('inpbutton');
    input_button.classList.add('btn');
    input_button.classList.add('btn-outline-secondary');
    input_button.innerText = "gen";
    input_button.addEventListener("click", inputBubble);
    li.appendChild(input_button);

    // 영어 번역 결과가 들어가는 txt
    var text_label = document.createElement('div');
    text_label.classList.add('form-control');
    text_label.value = jsonForm[key].t_txt;
    text_label.innerText = jsonForm[key].t_txt;
    text_label.setAttribute("contenteditable", "true");
    li.appendChild(text_label);
    bubbleList.appendChild(li);
    }
}

//canvas(만화) 위에 사용자가 지정한 영역에 번역 결과를 띄워줌
function paintBubbles(){
    for(key in jsonForm){
        var div = document.createElement('div');
        div.classList.add('bubble');
        div.classList.add(key);
        div.classList.add("ui-widget-content");
        div.id = key;
        div.style.left = jsonForm[key].x +"px";
        div.style.top = jsonForm[key].y +"px";
        div.style.width = jsonForm[key].w +"px";
        div.style.height = jsonForm[key].h + "px";
        div.style.overflow = "hidden";
        div.style.position = "absolute";
        div.style.display = "table";
        canvasMain.appendChild(div);

        var div_txt = document.createElement('div');
        div_txt.id = 'div ' + key;
        div_txt.style.color = "black";
        div_txt.innerText = jsonForm[key].t_txt;
        div_txt.style.left = jsonForm[key].center[1];
        div_txt.style.top = jsonForm[key].center[0];
        div_txt.setAttribute("contenteditable", "true");
        div_txt.style.textAlign = "center";
        div_txt.style.verticalAlign = "middle";
        div_txt.style.position = "relative";
        div_txt.style.display = "table-cell";
        div_txt.style.fontSize = jsonForm[key].fontSize;
        div_txt.style.fontFamily = jsonForm[key].font;
        console.log(jsonForm[key].font);
        div.appendChild(div_txt);
    }
    }
//paintBubbles()와 showBubbleList() 함수 실행
function init(){
    paintBubbles();
    showBubbleList();

}
//동작 시작
init();

$(".bubble").bind("dragstart",function(event, ui){
    $(this).addClass("color");  //bgi 체인지

    //움직일 때 변경된 좌표를 json에 다시 저장
    var x = $(this).position().left;
    var y = $(this).position().top;
    var w = $(this).position().width;
    var h = $(this).position().height;

    var id = $(this).attr("id");

    jsonForm[id].x = x;
    jsonForm[id].y = y;
    jsonForm[id].w = w;
    jsonForm[id].h = h;

    console.log(jsonForm);

});

$(".bubble").bind("dragstop", function(event, ui){
    $(this).removeClass("color");   //bgi 체인지
});

//Metal Mania 글씨체 변경
$(".MetalMania").bind("click", function(event, ui){
    $("#selectable").find('div.ui-selected').find('div').css('font-family', 'Metal Mania');
});

//ArchitectsDaughter 글씨체 변경
$(".ArchitectsDaughter").bind("click", function(event, ui){
    $("#selectable").find('div.ui-selected').find('div').css('font-family', 'Architects Daughter');
});

//OpenSans 글씨체 변경
$(".OpenSans").bind("click", function(event, ui){
    $("#selectable").find('div.ui-selected').find('div').css('font-family', 'Open Sans');
});

//글자 크기 증가
$("#font-plus").bind("click", function(event, ui){
//    $("#selectable").find('div.ui-selected').find('div').css('font-size', 'Architects Daughter');
     $speech = $("#selectable").find('div.ui-selected').find('div');
     var currentSize = $speech.css("fontSize");
     console.log(currentSize);

     var num = parseFloat(currentSize, 10);
     var unit = currentSize.slice(-2);

     num += 1;

     $speech.css("fontSize", num+unit);

});

//글자 크기 감소
$("#font-minus").bind("click", function(event, ui){
//    $("#selectable").find('div.ui-selected').find('div').css('font-size', 'Architects Daughter');
     $speech = $("#selectable").find('div.ui-selected').find('div');
     var currentSize = $speech.css("fontSize");
     var num = parseFloat(currentSize, 10);
     var unit = currentSize.slice(-2);
     num -= 1;
     $speech.css("fontSize", num+unit);
});

//form-control text 변경 감지
$("body").on('propertychange change keyup paste input', ".form-control", function(event) {
    var btn = event.target;
    var li = btn.parentNode;

    var div = 'div ' + li.id;
    var divbox = document.getElementById(div);
    divbox.innerText = btn.innerText;
    jsonForm[li.id].t_txt = btn.innerText;
    document.getElementById("json_data").innerText = JSON.stringify(jsonForm);
});

</script>

{% endblock %}
