<!DOCTYPE html>
{% load static %}
<head>
     <meta charset="utf-8">
     <title>drawrects</title>
     <style>
         canvas {border:5px solid magenta;}

         #selcolor {
            color: rgba(255,255,255,0);
         }
     </style>
</head>

<body>
     <div>
         <input type="button" id="clear" value="모두 지움"/>
     </div>
     <br><br>

     <canvas id="canvas" width="800" height="400">
         이 브라우저는 캔버스를 지원하지 않습니다.
     </canvas>

     <script src = "{% static 'main/js/mouseevent.js' %}"></script>

</body>

</html>