{% extends 'main/base2.html' %}

{% block title %}{{ object.title }} - Project{% endblock %}

{% block content %}

<!-- enctype 추가 해줘야 image 데이터가 정상적으로 저장됨 -->
<h1>Create Your Project</h1>
<p>번역을 원하는 이미지를 업로드해주세요.</p>
<br>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-danger float-right" data-toggle="modal" data-target="#submitModal">Submit</button>
</form>
<!-- Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Translating...</h5>
                </button>
            </div>

            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Translating...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form.media }}

{% endblock %}