{% extends 'main/base2.html' %}
{% block content %}

<h2>{{user.username}} Profile Update</h2>

{% if error_msg %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error</strong> {{error_msg}}
</div>
{% endif %}
<br>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-danger float-right">Profile Update</button>
    </table>
</form>

{% endblock %}