{% extends 'main/base2.html' %}
{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="col-xs-6 col-md-2">
        {% if profile_user.profile.profile_photo %}
        <img class="round" src="{{profile_user.profile.profile_photo.url}}" width="150"> <br>
        {% else %}
        <img class="round" src="{% static 'main/images/default_profile.jpg' %}" width="150"> <br>
        {% endif %}
    </div>

    <div class="col-xs-7 col-md-10">
        {% if profile_user.profile.nickname %}
        <h2>{{profile_user.profile.nickname}}</h2>
        {% endif %}
        {% if user == profile_user %}   <!-- 로그인한 사용자와 profile_user(프로필 소유자)가 일치할 때만 프로필 편집이 가능하도록 함 -->
        </h2>
         {% endif %}
            <h3> username: {{profile_user.username}} <br>
                {% if profile_user.first_name is not None %}
                name: {{profile_user.first_name}} {{profile_user.last_name}} <br>
         {% endif %}
            </h3>
        <a href="/profile_update/">
            <button type="button" class="btn btn-primary btn-large">Profile update</button></a>
    </div>
</div>

{% endblock %}