<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BLINK</title>

  <!-- Bootstrap core CSS -->
  <link href=" {% static 'main/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/intro">BLINK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Join</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->

        {% block content %}
        {% endblock %}


  <!-- Bootstrap core JavaScript -->
  <script src=" {% static 'main/_assets/js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'main/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static 'main/_assets/js/jquery.min.js' %}"></script>
</body>

</html>
